.bg-color{
  background-color: #ffffff;
}

.navbar-div{
  padding-top: 3%;
  font-size: 1.3rem;
  padding: 10% 0 10%;
}

.logo{
  height: 50%;
  width: 50%;
}

.part-one{
  padding-left: 5%;
}

.imge{
  overflow:hidden;
  width: 60%;

}

.search-bar{
  padding: 0;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.feature-section{
  background-color: #000000;
}

.feature-image{
  width: 30%;
  margin: 10%;
}

.container-fluid{
  padding: 0;
}

.feature-box {
  padding: 0 7%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

.feature-title {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  font-family: ProximaNova, Arial, "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.feature-section{
  margin: 0;
  padding: 0;
}

.section-three-image-one{
  width: 275%;
  padding: 0 ;
  padding: 0 60% 0 0;
}

.section-three-image-two{
  width: 200%;
  padding: 0 ;
  padding: 0 0 60% 0;
}

.section-three{
  padding: 10%;
}

.three{
  padding-bottom: 0;
}

.download-image{
  width: 40%;
  padding: 3%;
}

.footer-bg{
  background-color: #000000;
  padding: 3% 5%;
}

.footer-list{
  list-style-type: none;
  color: white;
}

.footer-list-item{
  padding-bottom: 2.5%;
}

.list-head{
  color: #686b78;
}

.download-image-footer{
  width: 70%;
  padding: 3%;
}

h1{
  font-size: 3rem;
  font-family: ProximaNova, Arial, "Helvetica Neue", sans-serif;
  font-weight: bold;
  padding: 3% 0;
}

h2{
  font-family: ProximaNova, Arial, "Helvetica Neue", sans-serif;
  font-weight : 300;
  color: #686b78;
  font-size: 1.5rem;
  padding: 0 0 2%;
}

h3{
  font-size: 1rem;
  font-family: ProximaNova, Arial, "Helvetica Neue", sans-serif;
  font-weight : 300;
  color: #686b78;
  padding: 2% 0 0;
}

p{
  text-align: center;
}
